db.sqlite3
.idea

User/__pycache__
Contract/__pycache__
Payment/__pycache__
Job/__pycache__
Proposal/__pycache__
Message/__pycache__
readyback/__pycache__

Contract/migrations
User/migrations
Payment/migrations
Job/migrations
Proposal/migrations
Message/migrations
readyback/settings.py