Django~=4.1.5
djangorestframework~=3.14.0
djangorestframework-simplejwt
pymongo==3.12.3
djongo @ git+https://github.com/doableware/djongo@master
dnspython==2.3.0
django-cors-headers==3.13.0
django-allauth
dj-rest-auth @ git+https://github.com/iMerica/dj-rest-auth.git@master
six
django-rest-swagger
celery
psycopg2
redis
hiredis
coreapi
drf-yasg
django-phonenumber-field
phonenumbers
twilio