Django<4.2
djangorestframework~=3.14.0
djangorestframework-simplejwt
django-cors-headers==3.13.0
django-allauth
six
django-rest-swagger
celery
psycopg2
redis
hiredis
coreapi
drf-yasg
django-phonenumber-field
phonenumbers
twilio
gunicorn
psycopg2-binary
boto3
django-storages
django-drf-filepond
django-sslserver
pycurl