{$PROD_HOST_NAME}

www.growbetterindia.com {
  file_server /static/* {
    # Requests for static files will look in whatever is mounted to /usr/share/caddy/static
    root /usr/share/caddy
  }

  reverse_proxy /api/* app:8000

}